@import 'colors';
@import 'utilities';

* {
    @extend %reset;
}

.footer {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $clr-light-purple;
    height: auto;
    width: 100%;
    padding-top: 40px;
    color: white;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    h3 {
        font-size: 1.8em;
        text-transform: capitalize;
    }

    p {
        max-width: 500px;
        margin: 10px auto;
        line-height: 28px;
        font-size: 14px;
    }
}

.socials {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;

    li {
        margin: 0 10px;
    }

    a {
        text-decoration: none;
        color: white;
    }
}

.footer-bottom {
    background-color: $clr-red;
    width: 100%;
    padding: 20px 0;
    text-align: center;

    p {
        font-size: 14px;
        word-spacing: 2px;
        text-transform: capitalize;
    }

    span {
        text-transform: uppercase;
        opacity: .4;
    }
}