@import "utilities";

* {
  @extend %reset;
}

.game-container {
  width: 100%;
  @extend %flex-center;
  flex-direction: column;
  margin-top: 20px;

  .previous {
    display: flex;
    justify-content: flex-start;

    #previous-game {
      background-color: $clr-light-purple;
      color: white;
      border-radius: 6px;
      padding: 4px;
      align-self: left;

      svg {
        margin-right: 5px;
        line-height: 100%;
      }
    }
  }

  .game-content {
    width: 80%;
  }

  .game-image {
    img {
      width: 100%;
      height: 600px;
    }
  }

  .game-details {
    @extend %flex-center;

    .details-grid {
      margin-top: 30px;
      margin-bottom: 30px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 30px;
      grid-row-gap: 5px;

      svg {
        margin-right: 10px;
      }
    }
  }
}

.game-comments {
  margin-bottom: 20px;

  .comments {
    margin-top: 10px;

    .comment {
      margin-bottom: 20px;
    }
  }

  .new-comment {
    margin-bottom: 10px;

    #submitComment {
      padding: 6px;
      color: white;
      background-color: $clr-light-purple;
      border-radius: 6px;
    }

    #new-comment {
      width: 100%;
    }
  }
}
