@import 'utilities';

* {
    @extend %reset;
}

.games-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(268px, 1fr));
    width: 90%;
    grid-gap: 20px;
    justify-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 100%;
}

.list-container {
    width: 100%;
    height: 100%;
    @extend %flex-center;
    flex-wrap: wrap;
    flex-direction: column;
}