@import "utilities";
@import "colors";

* {
  @extend %reset;
}

.home-container {
  @extend %flex-center;
  width: 100%;
  height: 100%;
  flex-direction: row;
  margin-top: 30px;
}

.home-content {
  width: 100%;
  @extend %flex-center;
  flex-direction: column;

  .home-newest {
    display: flex;
    flex-direction: column;
    width: 90%;
  }

  .home-latest {
    width: 90%;
    @extend %flex-center;
    flex-direction: column;
    margin-top: 20px;
  }
}

.newest-content {
  display: flex;
  margin-top: 10px;

  .newest-image {
    width: 80%;

    img {
      width: 100%;
      display: block;
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
      height: 400px;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .newest-details {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 20px;
    padding-right: 20px;
    background-color: $clr-logo-purple;
    color: white;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;

    svg {
      margin-right: 5px;
    }
  }
}

@media (max-width: 685px) {
  .newest-content {
    flex-direction: column;
    width: 100%;

    .newest-details {
      border-top-right-radius: 0;
      border-bottom-left-radius: 8px;
      gap: 12px;
      padding-top: 10px;
      padding-bottom: 10px;
    }

    .newest-image {
      width: 100%;

      img {
        width: 100%;
        border-bottom-left-radius: 0;
        border-top-right-radius: 8px;
      }
    }
  }
}
