@import "utilities";
@import "colors";

.login-container {
  width: 100vw;
  height: 100vh;
  background-color: $clr-light-purple;
  @extend %flex-center;

  .login {
    padding: 10px;
    background-color: white;
    color: black;
    border-radius: 6px;
    width: 200px;

    label {
      margin-right: 5px;
    }

    #login-submit {
      background-color: $clr-logo-purple;
      color: white;
      padding: 6px;
      border-radius: 6px;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 6px;
    }
  }
}
