@import 'colors';

.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin-bottom: 20px;
    margin-top: 10px;
}

.pagination {
    list-style: none;
    text-decoration: none;
    display: flex;
    justify-content: center;
    width: 90%;
    gap: 20px;
    margin-bottom: 20px;
}

.page-link {
    border: 3px solid $clr-light-purple;
    border-radius: 6px;
    padding: 4px 8px;
    text-decoration: none;
    color: $clr-light-purple;

    &:hover {
        background-color: $clr-light-purple;
        color: white;
    }
}